﻿@model List<PrimeNumbersModel>

    <style>
        .number-factors {
            border: 1px solid #ccc;
            padding: 10px 5px;
            margin-bottom: 10px;
        }

        .number-factors label {
            font-weight: bold;
        }
    </style>

<h2>Prime Numbers</h2>

@foreach (var item in Model)
{
    <div class="number-factors">
        Prime factors of @item.Number are [@(string.Join(",", item.Factors))]
    </div>
}